jmx.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://xml.kishou.go.jp/jmaxml1/elementBasis1/" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:jm="http://xml.kishou.go.jp/jmaxml1/body/meteorology1/" xmlns:jb="http://xml.kishou.go.jp/jmaxml1/informationBasis1/" xmlns:je="http://xml.kishou.go.jp/jmaxml1/elementBasis1/" xmlns:jx="http://xml.kishou.go.jp/jmaxml1/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="jx:Report">
      <element name="jx:Control">
        <element name="jx:Title">
          <ref name="list_title"/>
        </element>
        <element name="jx:DateTime">
          <ref name="dateTime_sz"/>
        </element>
        <element name="jx:Status">
          <choice>
            <value>通常</value>
            <value>訓練</value>
            <value>試験</value>
          </choice>
        </element>
        <element name="jx:EditorialOffice">
          <ref name="list_edof"/>
        </element>
        <element name="jx:PublishingOffice">
          <ref name="list_pbof"/>
        </element>
      </element>
      <element name="jb:Head">
        <element name="jb:Title">
          <data type="token"/>
        </element>
        <!-- 発表時刻 -->
        <element name="jb:ReportDateTime">
          <ref name="dateTime_si"/>
        </element>
        <!-- 解析時刻 -->
        <element name="jb:TargetDateTime">
          <ref name="dateTime_si"/>
        </element>
        <optional>
          <element name="jb:TargetDuration">
            <data type="duration"/>
          </element>
        </optional>
        <optional>
          <!-- yuukou kigen -->
          <element name="jb:ValidDateTime">
            <ref name="dateTime_si"/>
          </element>
        </optional>
        <!-- TC番号 -->
        <element name="jb:EventID">
          <choice>
            <empty/>
            <data type="token"/>
          </choice>
        </element>
        <element name="jb:InfoType">
          <choice>
            <value>発表</value>
            <value>訂正</value>
            <value>取消</value>
          </choice>
        </element>
        <!-- 情報番号というが起算・加算条件は未詳 -->
        <element name="jb:Serial">
          <choice>
            <empty/>
            <data type="token"/>
          </choice>
        </element>
        <element name="jb:InfoKind">
          <ref name="list_infokind"/>
        </element>
        <!-- we can simply ignore this -->
        <element name="jb:InfoKindVersion">
          <data type="token"/>
        </element>
        <element name="jb:Headline">
          <element name="jb:Text">
            <data type="string"/>
          </element>
          <choice>
            <empty/>
            <ref name="info_vpzu50_kaijou"/>
            <ref name="info_vpzu50_kaijou_clear"/>
            <ref name="info_vpcu50_kaijou"/>
            <ref name="infos_vpww50_keihou"/>
          </choice>
        </element>
      </element>
      <choice>
        <ref name="body_vgsk50_kisetsu"/>
        <ref name="body_vgsk55_seibutsu"/>
        <ref name="body_vgsk60_tokushu"/>
        <ref name="body_vguv50_shigaisen"/>
        <ref name="body_vpti50_joho"/>
        <ref name="body_vptw40_typhoon"/>
        <ref name="body_vpzu50_kaijou"/>
        <ref name="body_vpcu50_kaijou"/>
        <ref name="body_vpcy50_umiyoho"/>
        <ref name="body_vpww50_keihou"/>
      </choice>
    </element>
  </start>
  <!--
    
    - - - jb:Information rules - - -
    
  -->
  <define name="infos_vpww50_keihou">
    <element name="jb:Information">
      <attribute name="type">
        <value>気象警報・注意報（府県予報区等）</value>
      </attribute>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>
    </element>
    <element name="jb:Information">
      <attribute name="type">
        <value>気象警報・注意報（一次細分区域等）</value>
      </attribute>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>
    </element>
    <element name="jb:Information">
      <attribute name="type">
        <value>気象警報・注意報（市町村等をまとめた地域等）</value>
      </attribute>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>
    </element>
    <element name="jb:Information">
      <attribute name="type">
        <value>気象警報・注意報（市町村等）</value>
      </attribute>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>
    </element>
    <optional>
      <element name="jb:Information">
        <attribute name="type">
          <value>気象警報・注意報（警報注意報種別毎）</value>
        </attribute>
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </optional>
  </define>
  <!-- may be missing in case of lifting -->
  <define name="info_vpzu50_kaijou">
    <element name="jb:Information">
      <attribute name="type">
        <value>全般海上警報</value>
      </attribute>
      <oneOrMore>
        <element name="jb:Item">
          <element name="jb:Kind">
            <element name="jb:Name">
              <ref name="list_kaijou_keihoumei"/>
            </element>
            <element name="jb:Code">
              <ref name="list_kaijou_keihoucode"/>
            </element>
          </element>
          <element name="jb:Areas">
            <attribute name="codeType">
              <value>全般海上海域名</value>
            </attribute>
            <choice>
              <ref name="kaijou_area_circles"/>
              <ref name="kaijou_area_point"/>
              <ref name="kaijou_area_polygon"/>
              <ref name="kaijou_area_codes"/>
            </choice>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="info_vpcu50_kaijou">
    <element name="jb:Information">
      <attribute name="type">
        <value>地方海上警報</value>
      </attribute>
      <oneOrMore>
        <element name="jb:Item">
          <element name="jb:Kind">
            <element name="jb:Name">
              <ref name="list_kaijou_keihoumei"/>
            </element>
            <element name="jb:Code">
              <ref name="list_kaijou_keihoucode"/>
            </element>
          </element>
          <element name="jb:Areas">
            <attribute name="codeType">
              <value>地方海上予報区</value>
            </attribute>
            <ref name="kaijou_area_codes"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="kaijou_area_circles">
    <element name="jb:Area">
      <element name="jb:Name">
        <choice>
          <value>低気圧</value>
          <value>熱帯低気圧</value>
        </choice>
      </element>
      <oneOrMore>
        <element name="je:Circle">
          <attribute name="type">
            <value>影響範囲</value>
          </attribute>
          <optional>
            <!-- either analysis or 24 hour forecast present -->
            <element name="je:BasePoint">
              <attribute name="type">
                <value>実況位置（度）</value>
              </attribute>
              <ref name="kaijou_point"/>
            </element>
          </optional>
          <optional>
            <element name="je:BasePoint">
              <attribute name="type">
                <value>１２時間後位置（度）</value>
              </attribute>
              <ref name="kaijou_point"/>
            </element>
          </optional>
          <optional>
            <element name="je:BasePoint">
              <attribute name="type">
                <value>２４時間後位置（度）</value>
              </attribute>
              <optional>
                <ref name="kaijou_point"/>
              </optional>
            </element>
          </optional>
          <optional>
            <ref name="radii_of_wind"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="kaijou_point">
    <choice>
      <group>
        <attribute name="description">
          <ref name="latlon_deg_ja"/>
        </attribute>
        <ref name="latlon_deg_ascii"/>
      </group>
      <group>
        <attribute name="description">
          <ref name="latlon_decimal_ja"/>
        </attribute>
        <ref name="latlon_decimal_ascii"/>
      </group>
    </choice>
  </define>
  <define name="kaijou_area_point">
    <element name="jb:Area">
      <element name="jb:Name">
        <value>熱帯低気圧</value>
      </element>
      <element name="je:Coordinate">
        <attribute name="type">
          <choice>
            <value>中心位置（度）</value>
            <value>実況位置（度）</value>
          </choice>
        </attribute>
        <attribute name="description">
          <ref name="latlon_decimal_ja"/>
        </attribute>
        <ref name="latlon_decimal_ascii"/>
      </element>
    </element>
  </define>
  <define name="kaijou_area_codes">
    <oneOrMore>
      <element name="jb:Area">
        <element name="jb:Name">
          <data type="token"/>
        </element>
        <element name="jb:Code">
          <data type="positiveInteger"/>
        </element>
      </element>
    </oneOrMore>
  </define>
  <define name="kaijou_area_polygon">
    <element name="jb:Area">
      <element name="jb:Name">
        <value>緯度経度領域</value>
      </element>
      <element name="je:Polygon">
        <attribute name="type">
          <value>位置（度）</value>
        </attribute>
        <attribute name="description">
          <ref name="latlon_multi_ja"/>
        </attribute>
        <ref name="latlon_multi_ascii"/>
      </element>
    </element>
  </define>
  <define name="info_vpzu50_kaijou_clear">
    <element name="jb:Information">
      <attribute name="type">
        <value>全般海上警報</value>
      </attribute>
      <element name="jb:Item">
        <element name="jb:Kind">
          <element name="jb:Name">
            <value>海上警報なし</value>
          </element>
          <!-- this time jb:Code missing -->
        </element>
        <element name="jb:Areas">
          <attribute name="codeType">
            <value>全般海上海域名</value>
          </attribute>
          <element name="jb:Area">
            <element name="jb:Name">
              <value>全般海上予報区</value>
            </element>
          </element>
        </element>
      </element>
    </element>
  </define>
  <!-- === Body rules === -->
  <define name="body_vpww50_keihou">
    <element name="jm:Body">
      <zeroOrMore>
        <element name="jm:Notice">
          <text/>
        </element>
      </zeroOrMore>
      <element name="jm:Warning">
        <attribute name="type">
          <value>気象警報・注意報（府県予報区等）</value>
        </attribute>
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
      <element name="jm:Warning">
        <attribute name="type">
          <value>気象警報・注意報（一次細分区域等）</value>
        </attribute>
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
      <element name="jm:Warning">
        <attribute name="type">
          <value>気象警報・注意報（市町村等をまとめた地域等）</value>
        </attribute>
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
      <element name="jm:Warning">
        <attribute name="type">
          <value>気象警報・注意報（市町村等）</value>
        </attribute>
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
      <optional>
        <element name="jm:MeteorologicalInfos">
          <attribute name="type">
            <value>量的予想時系列（市町村等）</value>
          </attribute>
          <oneOrMore>
            <ref name="anyElement"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="body_vpcy50_umiyoho">
    <element name="jm:Body">
      <element name="jm:Warning">
        <attribute name="type">
          <value>地方海上警報発表状況</value>
        </attribute>
        <oneOrMore>
          <element name="jm:Item">
            <oneOrMore>
              <element name="jm:Kind">
                <choice>
                  <group>
                    <element name="jm:Name">
                      <data type="token"/>
                    </element>
                    <element name="jm:Code">
                      <data type="nonNegativeInteger"/>
                    </element>
                  </group>
                  <element name="jm:Status">
                    <value>海上警報なし</value>
                  </element>
                </choice>
              </element>
            </oneOrMore>
            <element name="jm:Area">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <element name="jm:Code">
                <data type="nonNegativeInteger"/>
              </element>
            </element>
          </element>
        </oneOrMore>
      </element>
      <ref name="kaijou_kishouyouin"/>
      <ref name="umiyoho_jikkyou"/>
      <ref name="umiyoho_kaiiki"/>
    </element>
  </define>
  <define name="umiyoho_jikkyou">
    <element name="jm:MeteorologicalInfos">
      <attribute name="type">
        <value>観測実況</value>
      </attribute>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="umiyoho_kaiiki">
    <element name="jm:MeteorologicalInfos">
      <attribute name="type">
        <value>地方海域の予報</value>
      </attribute>
      <oneOrMore>
        <element name="jm:MeteorologicalInfo">
          <element name="jm:DateTime">
            <ref name="dateTime_si"/>
          </element>
          <element name="jm:Duration">
            <data type="duration"/>
          </element>
          <!-- name of forecast time range duration -->
          <element name="jm:Name">
            <data type="token"/>
          </element>
          <oneOrMore>
            <element name="jm:Item">
              <oneOrMore>
                <element name="jm:Kind">
                  <optional>
                    <choice>
                      <ref name="kaijou_propwind"/>
                      <ref name="umiyoho_tenki"/>
                      <ref name="umiyoho_propfog"/>
                      <ref name="kaijou_propuneri"/>
                      <ref name="umiyoho_propice"/>
                    </choice>
                  </optional>
                </element>
              </oneOrMore>
              <element name="jm:Area">
                <element name="jm:Name">
                  <data type="token"/>
                </element>
                <element name="jm:Code">
                  <data type="nonNegativeInteger"/>
                </element>
              </element>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="umiyoho_tenki">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>天気</value>
      </element>
      <element name="jm:WeatherPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="umiyoho_propfog">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>視程</value>
      </element>
      <element name="jm:VisibilityPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="umiyoho_propice">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>流氷</value>
      </element>
      <element name="jm:SeaIcePart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="body_vpcu50_kaijou">
    <element name="jm:Body">
      <element name="jm:Warning">
        <attribute name="type">
          <value>地方海上警報</value>
        </attribute>
        <oneOrMore>
          <element name="jm:Item">
            <oneOrMore>
              <element name="jm:Kind">
                <optional>
                  <element name="jm:Name">
                    <data type="token"/>
                  </element>
                </optional>
                <optional>
                  <element name="jm:Code">
                    <data type="nonNegativeInteger"/>
                  </element>
                </optional>
                <optional>
                  <choice>
                    <ref name="kaijou_propwind"/>
                    <ref name="kaijou_propfog"/>
                    <ref name="kaijou_propuneri"/>
                    <ref name="kaijou_propicing"/>
                  </choice>
                </optional>
              </element>
            </oneOrMore>
            <element name="jm:Area">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <element name="jm:Code">
                <data type="nonNegativeInteger"/>
              </element>
            </element>
          </element>
        </oneOrMore>
      </element>
      <ref name="kaijou_kishouyouin"/>
    </element>
  </define>
  <define name="kaijou_propwind">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>風</value>
      </element>
      <element name="jm:WindPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="kaijou_propfog">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>濃霧</value>
      </element>
      <element name="jm:VisibilityPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="kaijou_propuneri">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>波</value>
      </element>
      <element name="jm:WaveHeightPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="kaijou_propicing">
    <element name="jm:Property">
      <element name="jm:Type">
        <value>着氷</value>
      </element>
      <element name="jm:IcingPart">
        <oneOrMore>
          <ref name="anyElement"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="kaijou_kishouyouin">
    <element name="jm:MeteorologicalInfos">
      <attribute name="type">
        <value>気象要因</value>
      </attribute>
      <element name="jm:MeteorologicalInfo">
        <element name="jm:DateTime">
          <ref name="dateTime_si"/>
        </element>
        <element name="jm:Name">
          <data type="token"/>
        </element>
        <element name="jm:Item">
          <element name="jm:Kind">
            <element name="jm:Property">
              <element name="jm:Type">
                <value>概況</value>
              </element>
              <element name="jm:SynopsisPart">
                <oneOrMore>
                  <element name="je:Synopsis">
                    <attribute name="type">
                      <value>気象要因</value>
                    </attribute>
                    <text/>
                  </element>
                </oneOrMore>
              </element>
            </element>
          </element>
          <element name="jm:Area">
            <element name="jm:Name">
              <data type="token"/>
            </element>
            <element name="jm:Code">
              <data type="positiveInteger"/>
            </element>
          </element>
        </element>
      </element>
    </element>
  </define>
  <define name="body_vpzu50_kaijou">
    <element name="jm:Body">
      <element name="jm:Notice">
        <choice>
          <value/>
          <value>警報は６時間毎に更新します。</value>
        </choice>
      </element>
      <zeroOrMore>
        <element name="jm:MeteorologicalInfos">
          <attribute name="type">
            <value>全般海上警報</value>
          </attribute>
          <oneOrMore>
            <element name="jm:MeteorologicalInfo">
              <element name="jm:DateTime">
                <ref name="dateTime_si"/>
              </element>
              <element name="jm:Item">
                <oneOrMore>
                  <element name="jm:Kind">
                    <optional>
                      <element name="jm:Name">
                        <data type="token"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="jm:Code">
                        <data type="positiveInteger"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="jm:Status">
                        <text/>
                      </element>
                    </optional>
                    <optional>
                      <element name="jm:ClassName">
                        <ref name="list_kaijou_classname"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="jm:Condition">
                        <ref name="list_kaijou_condition"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="jm:DateTime">
                        <attribute name="type">
                          <ref name="list_typh_datetime"/>
                        </attribute>
                        <ref name="dateTime_si"/>
                      </element>
                    </optional>
                    <zeroOrMore>
                      <element name="jm:Property">
                        <element name="jm:Type">
                          <ref name="list_kaijou_proptype"/>
                        </element>
                        <optional>
                          <element name="jm:WindPart">
                            <choice>
                              <element name="jm:Becoming">
                                <element name="jm:TimeModifier">
                                  <ref name="list_kaijou_timemodifier"/>
                                </element>
                                <ref name="kaijou_windpart"/>
                              </element>
                              <ref name="kaijou_windpart"/>
                            </choice>
                          </element>
                        </optional>
                        <zeroOrMore>
                          <element name="jm:WarningAreaPart">
                            <ref name="kaijou_windcircle"/>
                          </element>
                        </zeroOrMore>
                        <optional>
                          <element name="jm:ClassPart">
                            <oneOrMore>
                              <ref name="anyElement"/>
                            </oneOrMore>
                          </element>
                        </optional>
                        <optional>
                          <element name="jm:TyphoonNamePart">
                            <oneOrMore>
                              <ref name="anyElement"/>
                            </oneOrMore>
                          </element>
                        </optional>
                        <optional>
                          <element name="jm:CenterPart">
                            <oneOrMore>
                              <ref name="anyElement"/>
                            </oneOrMore>
                          </element>
                        </optional>
                        <optional>
                          <element name="jm:CoordinatePart">
                            <oneOrMore>
                              <ref name="anyElement"/>
                            </oneOrMore>
                          </element>
                        </optional>
                        <optional>
                          <element name="jm:Text">
                            <text/>
                          </element>
                        </optional>
                      </element>
                    </zeroOrMore>
                  </element>
                </oneOrMore>
                <element name="jm:Area">
                  <oneOrMore>
                    <ref name="anyElement"/>
                  </oneOrMore>
                </element>
              </element>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="jm:MeteorologicalInfos">
          <attribute name="type">
            <value>概況</value>
          </attribute>
          <element name="jm:MeteorologicalInfo">
            <element name="jm:DateTime">
              <ref name="dateTime_si"/>
            </element>
            <element name="jm:Item">
              <oneOrMore>
                <element name="jm:Kind">
                  <element name="jm:ClassName">
                    <choice>
                      <value>気圧系</value>
                      <value>前線</value>
                    </choice>
                  </element>
                  <zeroOrMore>
                    <element name="jm:Property">
                      <element name="jm:Type">
                        <ref name="list_kaijou_proptype2"/>
                      </element>
                      <optional>
                        <element name="jm:ClassPart">
                          <oneOrMore>
                            <ref name="anyElement"/>
                          </oneOrMore>
                        </element>
                      </optional>
                      <optional>
                        <element name="jm:CenterPart">
                          <oneOrMore>
                            <ref name="anyElement"/>
                          </oneOrMore>
                        </element>
                      </optional>
                      <optional>
                        <element name="jm:Text">
                          <text/>
                        </element>
                      </optional>
                    </element>
                  </zeroOrMore>
                </element>
              </oneOrMore>
              <element name="jm:Area">
                <oneOrMore>
                  <ref name="anyElement"/>
                </oneOrMore>
              </element>
            </element>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="kaijou_windpart">
    <zeroOrMore>
      <element name="je:WindDirection">
        <attribute name="type">
          <value>風向</value>
        </attribute>
        <attribute name="unit">
          <value>８方位漢字</value>
        </attribute>
        <ref name="list_direction8"/>
      </element>
    </zeroOrMore>
    <oneOrMore>
      <element name="je:WindSpeed">
        <attribute name="type">
          <choice>
            <value>最大風速</value>
            <value>風速</value>
          </choice>
        </attribute>
        <attribute name="unit">
          <value>ノット</value>
        </attribute>
        <optional>
          <attribute name="condition">
            <choice>
              <value/>
              <value>中心付近</value>
              <value>以上</value>
            </choice>
          </attribute>
        </optional>
        <attribute name="description"/>
        <data type="nonNegativeInteger"/>
      </element>
    </oneOrMore>
  </define>
  <define name="kaijou_windcircle">
    <attribute name="type">
      <choice>
        <value>強風域</value>
        <value>暴風域</value>
      </choice>
    </attribute>
    <element name="je:WindSpeed">
      <attribute name="type">
        <value>風速</value>
      </attribute>
      <attribute name="unit">
        <value>ノット</value>
      </attribute>
      <attribute name="condition">
        <value>以上</value>
      </attribute>
      <attribute name="description">
        <choice>
          <value>５０ノット以上</value>
          <value>３０ノット以上</value>
        </choice>
      </attribute>
      <choice>
        <value>30</value>
        <value>50</value>
      </choice>
    </element>
    <element name="je:Circle">
      <ref name="radii_of_wind"/>
    </element>
  </define>
  <define name="body_vgsk50_kisetsu">
    <element name="jm:Body">
      <element name="jm:MeteorologicalInfos">
        <attribute name="type">
          <value>季節観測</value>
        </attribute>
        <element name="jm:MeteorologicalInfo">
          <element name="jm:DateTime">
            <attribute name="significant">
              <value>yyyy-mm-dd</value>
            </attribute>
            <ref name="dateTime_si"/>
          </element>
          <element name="jm:Item">
            <element name="jm:Kind">
              <element name="jm:Name">
                <data type="token"/>
              </element>
            </element>
            <element name="jm:Station">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <optional>
                <element name="jm:Code">
                  <attribute name="type">
                    <value>国際地点番号</value>
                  </attribute>
                  <data type="positiveInteger"/>
                </element>
              </optional>
              <element name="jm:Location">
                <data type="NMTOKEN"/>
              </element>
            </element>
          </element>
        </element>
      </element>
      <element name="jm:AdditionalInfo">
        <element name="jm:ObservationAddition">
          <element name="jm:DeviationFromNormal">
            <data type="integer"/>
          </element>
          <element name="jm:DeviationFromLastYear">
            <data type="integer"/>
          </element>
        </element>
      </element>
    </element>
  </define>
  <define name="body_vgsk55_seibutsu">
    <element name="jm:Body">
      <element name="jm:MeteorologicalInfos">
        <attribute name="type">
          <value>生物季節観測</value>
        </attribute>
        <element name="jm:MeteorologicalInfo">
          <element name="jm:DateTime">
            <attribute name="significant">
              <value>yyyy-mm-dd</value>
            </attribute>
            <ref name="dateTime_si"/>
          </element>
          <element name="jm:Item">
            <element name="jm:Kind">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <element name="jm:Code">
                <data type="positiveInteger"/>
              </element>
              <element name="jm:ClassName">
                <data type="token"/>
              </element>
              <element name="jm:Condition">
                <value>通常</value>
              </element>
            </element>
            <element name="jm:Station">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <optional>
                <element name="jm:Code">
                  <attribute name="type">
                    <value>国際地点番号</value>
                  </attribute>
                  <data type="positiveInteger"/>
                </element>
              </optional>
              <element name="jm:Location">
                <data type="NMTOKEN"/>
              </element>
              <element name="jm:Status">
                <data type="NMTOKEN"/>
              </element>
            </element>
          </element>
        </element>
      </element>
      <element name="jm:AdditionalInfo">
        <element name="jm:ObservationAddition">
          <optional>
            <element name="jm:DeviationFromNormal">
              <data type="integer"/>
            </element>
          </optional>
          <element name="jm:DeviationFromLastYear">
            <data type="integer"/>
          </element>
          <optional>
            <element name="jm:Text">
              <data type="token"/>
            </element>
          </optional>
        </element>
      </element>
    </element>
  </define>
  <define name="body_vgsk60_tokushu">
    <element name="jm:Body">
      <element name="jm:MeteorologicalInfos">
        <attribute name="type">
          <value>特殊気象報（各種現象）</value>
        </attribute>
        <element name="jm:MeteorologicalInfo">
          <element name="jm:DateTime">
            <attribute name="significant">
              <value>yyyy-mm-ddThh:mm</value>
            </attribute>
            <ref name="dateTime_si"/>
          </element>
          <element name="jm:Item">
            <element name="jm:Kind">
              <element name="jm:Name">
                <data type="token"/>
              </element>
            </element>
            <element name="jm:Station">
              <element name="jm:Name">
                <data type="token"/>
              </element>
              <optional>
                <element name="jm:Code">
                  <attribute name="type">
                    <value>国際地点番号</value>
                  </attribute>
                  <data type="positiveInteger"/>
                </element>
              </optional>
              <element name="jm:Location">
                <data type="NMTOKEN"/>
              </element>
            </element>
          </element>
        </element>
      </element>
      <element name="jm:AdditionalInfo">
        <element name="jm:ObservationAddition">
          <element name="jm:Text">
            <data type="token"/>
          </element>
        </element>
      </element>
    </element>
  </define>
  <define name="body_vguv50_shigaisen">
    <element name="jm:Body">
      <element name="jm:MeteorologicalInfos">
        <group>
          <attribute name="type">
            <value>紫外線観測データ</value>
          </attribute>
          <element name="jm:TimeSeriesInfo">
            <group>
              <element name="jm:TimeDefines">
                <oneOrMore>
                  <element name="jm:TimeDefine">
                    <attribute name="timeId">
                      <data type="positiveInteger"/>
                    </attribute>
                    <element name="jm:DateTime">
                      <ref name="dateTime_si"/>
                    </element>
                  </element>
                </oneOrMore>
              </element>
              <oneOrMore>
                <element name="jm:Item">
                  <element name="jm:Kind">
                    <element name="jm:Property">
                      <element name="jm:Type">
                        <value>太陽天頂角</value>
                      </element>
                      <element name="jm:SolarZenithAnglePart">
                        <oneOrMore>
                          <element name="je:SolarZenithAngle">
                            <attribute name="unit">
                              <value>度</value>
                            </attribute>
                            <attribute name="refID">
                              <data type="positiveInteger"/>
                            </attribute>
                            <data type="float"/>
                          </element>
                        </oneOrMore>
                      </element>
                    </element>
                  </element>
                  <element name="jm:Kind">
                    <element name="jm:Property">
                      <element name="jm:Type">
                        <value>ＵＶインデックス</value>
                      </element>
                      <element name="jm:UvIndexPart">
                        <oneOrMore>
                          <element name="je:UvIndex">
                            <attribute name="refID">
                              <data type="positiveInteger"/>
                            </attribute>
                            <choice>
                              <empty/>
                              <data type="float"/>
                            </choice>
                          </element>
                        </oneOrMore>
                      </element>
                    </element>
                  </element>
                  <element name="jm:Station">
                    <element name="jm:Name">
                      <data type="token"/>
                    </element>
                    <element name="jm:Code">
                      <attribute name="type">
                        <value>気象・地震・火山情報／市町村等</value>
                      </attribute>
                      <data type="positiveInteger"/>
                    </element>
                    <element name="jm:Code">
                      <attribute name="type">
                        <value>国際地点番号</value>
                      </attribute>
                      <data type="positiveInteger"/>
                    </element>
                    <element name="jm:Code">
                      <attribute name="type">
                        <value>WOUDC地点番号</value>
                      </attribute>
                      <data type="positiveInteger"/>
                    </element>
                    <element name="jm:Location">
                      <data type="token"/>
                    </element>
                    <element name="je:Coordinate">
                      <ref name="latlon_decimal3_ascii"/>
                    </element>
                  </element>
                </element>
              </oneOrMore>
            </group>
            <!-- jm:Item -->
          </element>
        </group>
        <!-- jm:TimeSeriesInfo -->
      </element>
      <!-- jm:MeteorologicalInfos -->
    </element>
  </define>
  <define name="body_vpti50_joho">
    <element name="jm:Body">
      <element name="jm:Notice">
        <empty/>
      </element>
      <element name="jm:Comment">
        <element name="jm:Text">
          <attribute name="type">
            <value>本文</value>
          </attribute>
          <data type="string"/>
        </element>
      </element>
    </element>
  </define>
  <define name="body_vptw40_typhoon">
    <element name="jm:Body">
      <element name="jm:MeteorologicalInfos">
        <attribute name="type">
          <value>台風情報</value>
        </attribute>
        <oneOrMore>
          <element name="jm:MeteorologicalInfo">
            <group>
              <element name="jm:DateTime">
                <attribute name="type">
                  <ref name="list_typh_datetime"/>
                </attribute>
                <ref name="dateTime_si"/>
              </element>
              <element name="jm:Item">
                <group>
                  <optional>
                    <!-- name of tropical depression, present only at the first MeteorologicalInfo -->
                    <element name="jm:Kind">
                      <element name="jm:Property">
                        <element name="jm:Type">
                          <value>呼称</value>
                        </element>
                        <element name="jm:TyphoonNamePart">
                          <element name="jm:Name">
                            <data type="string">
                              <param name="pattern">[\-A-Z]*</param>
                            </data>
                          </element>
                          <element name="jm:NameKana">
                            <ref name="pat_katakana"/>
                          </element>
                          <element name="jm:Number">
                            <optional>
                              <data type="nonNegativeInteger"/>
                            </optional>
                          </element>
                          <element name="jm:Remark">
                            <choice>
                              <empty/>
                              <value>台風発生</value>
                              <value>台風発生（域外から入る）</value>
                              <value>台風消滅（域外へ出る）</value>
                              <value>台風消滅（温帯低気圧化）</value>
                              <value>台風消滅（熱帯低気圧化）</value>
                              <value>台風発生の可能性が小さくなった</value>
                              <value>発表間隔変更（毎時から３時間毎）</value>
                              <value>発表間隔変更（３時間毎から毎時）</value>
                              <value>台風発生予想</value>
                              <value>温帯低気圧化しつつある</value>
                            </choice>
                          </element>
                        </element>
                      </element>
                    </element>
                  </optional>
                  <!-- class of tropical depression -->
                  <element name="jm:Kind">
                    <element name="jm:Property">
                      <element name="jm:Type">
                        <value>階級</value>
                      </element>
                      <element name="jm:ClassPart">
                        <a:documentation>(8) 後述</a:documentation>
                        <element name="je:TyphoonClass">
                          <a:documentation>(7) 空になるのは延長予報だけ</a:documentation>
                          <attribute name="type">
                            <value>熱帯擾乱種類</value>
                          </attribute>
                          <choice>
                            <empty/>
                            <ref name="list_typhoon_class"/>
                          </choice>
                        </element>
                        <optional>
                          <element name="je:AreaClass">
                            <a:documentation>(8-1) 実況・推定では常に AreaClass がある</a:documentation>
                            <attribute name="type">
                              <value>大きさ階級</value>
                            </attribute>
                            <!-- 実況・推定で大きさ階級を決定しないときは空になる -->
                            <choice>
                              <empty/>
                              <ref name="list_typhoon_size_class"/>
                            </choice>
                          </element>
                        </optional>
                        <optional>
                          <element name="je:IntensityClass">
                            <a:documentation>(8-2) 実況・推定・予報では常に IntensityClass がある</a:documentation>
                            <attribute name="type">
                              <value>強さ階級</value>
                            </attribute>
                            <choice>
                              <empty/>
                              <ref name="list_typhoon_intensity_class"/>
                            </choice>
                          </element>
                        </optional>
                      </element>
                    </element>
                  </element>
                  <!-- center location of tropical depression -->
                  <element name="jm:Kind">
                    <element name="jm:Property">
                      <element name="jm:Type">
                        <value>中心</value>
                      </element>
                      <element name="jm:CenterPart">
                        <a:documentation>(9) 予報・延長予報には常に予報円 ProbabilityCircle がある
(10) 実況・推定には常に Coordinate 2つがある</a:documentation>
                        <choice>
                          <element name="jm:ProbabilityCircle">
                            <attribute name="type">
                              <value>予報円</value>
                            </attribute>
                            <ref name="basepoint_pair"/>
                            <ref name="radii_yohouen"/>
                          </element>
                          <ref name="coordinate_pair"/>
                        </choice>
                        <optional>
                          <element name="jm:Location">
                            <a:documentation>(11) 予報のうち、予報時間が２４未満で１２でないものでは欠く</a:documentation>
                            <text/>
                          </element>
                        </optional>
                        <element name="je:Direction">
                          <attribute name="type">
                            <value>移動方向</value>
                          </attribute>
                          <attribute name="unit">
                            <value>１６方位漢字</value>
                          </attribute>
                          <optional>
                            <attribute name="condition">
                              <value>不定</value>
                            </attribute>
                          </optional>
                          <optional>
                            <attribute name="description">
                              <value>不定</value>
                            </attribute>
                          </optional>
                          <!-- 空の実例はないが、予想される -->
                          <choice>
                            <empty/>
                            <ref name="list_direction16"/>
                          </choice>
                        </element>
                        <element name="je:Speed">
                          <attribute name="type">
                            <value>移動速度</value>
                          </attribute>
                          <attribute name="unit">
                            <value>ノット</value>
                          </attribute>
                          <attribute name="description"/>
                          <optional>
                            <attribute name="condition">
                              <choice>
                                <value>ゆっくり</value>
                                <value>ほとんど停滞</value>
                                <value>停滞</value>
                              </choice>
                            </attribute>
                          </optional>
                          <choice>
                            <empty/>
                            <data type="positiveInteger"/>
                          </choice>
                        </element>
                        <element name="je:Speed">
                          <a:documentation>(25) km/h単位の移動速度は ノット 単位の移動速度の関数</a:documentation>
                          <attribute name="type">
                            <value>移動速度</value>
                          </attribute>
                          <!--
                            there is a VPTW50 example having unit="ノット" here,
                            which is probably error but tolerated just in case. boo!
                          -->
                          <attribute name="unit">
                            <choice>
                              <value>km/h</value>
                              <value>ノット</value>
                            </choice>
                          </attribute>
                          <attribute name="description"/>
                          <optional>
                            <attribute name="condition">
                              <choice>
                                <value>ゆっくり</value>
                                <value>ほとんど停滞</value>
                                <value>停滞</value>
                              </choice>
                            </attribute>
                          </optional>
                          <choice>
                            <empty/>
                            <data type="positiveInteger"/>
                          </choice>
                        </element>
                        <optional>
                          <element name="je:Pressure">
                            <a:documentation>(12) 実況・推定・予報では常に Pressure がある</a:documentation>
                            <attribute name="type">
                              <value>中心気圧</value>
                            </attribute>
                            <attribute name="unit">
                              <value>hPa</value>
                            </attribute>
                            <attribute name="description"/>
                            <data type="positiveInteger"/>
                          </element>
                        </optional>
                      </element>
                    </element>
                  </element>
                  <optional>
                    <!-- wind associated with tropical depression, can be missing ft72h and later -->
                    <element name="jm:Kind">
                      <element name="jm:Property">
                        <element name="jm:Type">
                          <value>風</value>
                        </element>
                        <element name="jm:WindPart">
                          <!-- 最大風速と最大瞬間風速が、それぞれノット・米毎秒で書かれる -->
                          <element name="je:WindSpeed">
                            <a:documentation>(24) ノット単位の風速は m/s 単位の風速の関数</a:documentation>
                            <attribute name="type">
                              <value>最大風速</value>
                            </attribute>
                            <attribute name="unit">
                              <value>ノット</value>
                            </attribute>
                            <optional>
                              <!--
                                中心の移動速度と異なり condition は
                                最大速度が得られた位置を特定するものであるらしい。
                                値「なし」は中心付近でない場所を示すらしく、
                                数値欠損の印ではない。
                              -->
                              <attribute name="condition">
                                <choice>
                                  <value>中心付近</value>
                                  <value>なし</value>
                                </choice>
                              </attribute>
                            </optional>
                            <attribute name="description"/>
                            <data type="nonNegativeInteger"/>
                          </element>
                          <element name="je:WindSpeed">
                            <attribute name="type">
                              <value>最大風速</value>
                            </attribute>
                            <attribute name="unit">
                              <value>m/s</value>
                            </attribute>
                            <optional>
                              <attribute name="condition">
                                <choice>
                                  <value>中心付近</value>
                                  <value>なし</value>
                                </choice>
                              </attribute>
                            </optional>
                            <attribute name="description"/>
                            <data type="nonNegativeInteger"/>
                          </element>
                          <element name="je:WindSpeed">
                            <attribute name="type">
                              <value>最大瞬間風速</value>
                            </attribute>
                            <attribute name="unit">
                              <value>ノット</value>
                            </attribute>
                            <attribute name="description"/>
                            <data type="nonNegativeInteger"/>
                          </element>
                          <element name="je:WindSpeed">
                            <attribute name="type">
                              <value>最大瞬間風速</value>
                            </attribute>
                            <attribute name="unit">
                              <value>m/s</value>
                            </attribute>
                            <attribute name="description"/>
                            <data type="nonNegativeInteger"/>
                          </element>
                        </element>
                        <zeroOrMore>
                          <element name="jm:WarningAreaPart">
                            <a:documentation>(19) @type は Property 内で一意
(14) 実況・推定には常に強風域がある
(15) 暴風域はあるとすれば実況または推定
(20) 実況・推定において
     最大風速が 25 m/s に達していれば常に暴風域がある
(16) 暴風警戒域はあるとすれば予報
(21) 予報において
     最大風速が 25 m/s に達していれば常に暴風警戒域がある</a:documentation>
                            <attribute name="type">
                              <choice>
                                <value>暴風域</value>
                                <value>強風域</value>
                                <value>暴風警戒域</value>
                              </choice>
                            </attribute>
                            <element name="je:WindSpeed">
                              <attribute name="type">
                                <value>風速</value>
                              </attribute>
                              <attribute name="unit">
                                <value>ノット</value>
                              </attribute>
                              <attribute name="condition">
                                <value>以上</value>
                              </attribute>
                              <attribute name="description"/>
                              <data type="positiveInteger"/>
                            </element>
                            <element name="je:WindSpeed">
                              <attribute name="type">
                                <value>風速</value>
                              </attribute>
                              <attribute name="unit">
                                <value>m/s</value>
                              </attribute>
                              <attribute name="condition">
                                <value>以上</value>
                              </attribute>
                              <attribute name="description"/>
                              <data type="positiveInteger"/>
                            </element>
                            <element name="je:Circle">
                              <ref name="radii_of_wind"/>
                            </element>
                          </element>
                        </zeroOrMore>
                      </element>
                    </element>
                  </optional>
                  <element name="jm:Area">
                    <a:documentation>Item について、
(17) 実況・推定には常に強風域 Area が存在
(18) 予報・延長予報には常に予報円 Area が存在
都合、 Area は必ず一つ存在する</a:documentation>
                    <element name="jm:Name">
                      <value>熱帯低気圧</value>
                    </element>
                    <choice>
                      <element name="je:Circle">
                        <a:documentation>(22) 強風域 Area/Circle は WarningAreaPart/Circle と同一内容</a:documentation>
                        <attribute name="type">
                          <value>強風域</value>
                        </attribute>
                        <ref name="basepoint_pair"/>
                        <ref name="radii_of_wind"/>
                      </element>
                      <element name="je:Circle">
                        <a:documentation>(23) 予報円 Area/Circle は ProbabilityCircle と同一内容</a:documentation>
                        <attribute name="type">
                          <value>予報円</value>
                        </attribute>
                        <ref name="basepoint_pair"/>
                        <ref name="radii_yohouen"/>
                      </element>
                    </choice>
                  </element>
                </group>
                <!-- jm:Area -->
              </element>
            </group>
            <!-- jm:Item -->
          </element>
        </oneOrMore>
      </element>
      <!-- jm:MeteorologicalInfos -->
    </element>
  </define>
  <!-- jm:Body -->
  <!-- basepoint_pair と酷似構造であることを見やすくするため別ルール建て -->
  <define name="coordinate_pair">
    <a:documentation>=== complex data types ===</a:documentation>
    <element name="je:Coordinate">
      <attribute name="type">
        <value>中心位置（度）</value>
      </attribute>
      <optional>
        <!-- 消滅または発生可能性減のとき省略 -->
        <attribute name="condition">
          <choice>
            <value>正確</value>
            <value>ほぼ正確</value>
            <value>不確実</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="description">
        <ref name="latlon_decimal_ja"/>
      </attribute>
      <ref name="latlon_decimal_ascii"/>
    </element>
    <element name="je:Coordinate">
      <attribute name="type">
        <value>中心位置（度分）</value>
      </attribute>
      <optional>
        <!-- 消滅または発生可能性減のとき省略 -->
        <attribute name="condition">
          <choice>
            <value>正確</value>
            <value>ほぼ正確</value>
            <value>不確実</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="description">
        <ref name="latlon_sexagesimal_ja"/>
      </attribute>
      <ref name="latlon_sexagesimal_ascii"/>
    </element>
  </define>
  <!-- Area/Circle と CenterPart/ProbabilityCircle で使われる -->
  <define name="basepoint_pair">
    <element name="je:BasePoint">
      <attribute name="type">
        <value>中心位置（度）</value>
      </attribute>
      <attribute name="description">
        <ref name="latlon_decimal_ja"/>
      </attribute>
      <ref name="latlon_decimal_ascii"/>
    </element>
    <element name="je:BasePoint">
      <attribute name="type">
        <value>中心位置（度分）</value>
      </attribute>
      <attribute name="description">
        <ref name="latlon_sexagesimal_ja"/>
      </attribute>
      <ref name="latlon_sexagesimal_ascii"/>
    </element>
  </define>
  <!--
    Area/Circle[@type=強風域] と
    Kind/Property[Type='予報円']/WarningAreaPart/Circle で使う
  -->
  <define name="radii_of_wind">
    <element name="je:Axes">
      <choice>
        <!-- 強風域は、均等円か、偏心円で長径・短径を示す2つのAxisか -->
        <ref name="all_round_axis"/>
        <group>
          <ref name="ordinary_axis"/>
          <ref name="ordinary_axis"/>
        </group>
      </choice>
    </element>
  </define>
  <!-- 均等円の場合の Axes の中身 (読みやすさのため別ルール) -->
  <define name="all_round_axis">
    <element name="je:Axis">
      <element name="je:Direction">
        <attribute name="type">
          <value>方向</value>
        </attribute>
        <attribute name="unit">
          <value>８方位漢字</value>
        </attribute>
        <attribute name="description">
          <value>全域</value>
        </attribute>
        <optional>
          <attribute name="condition">
            <value>全域</value>
          </attribute>
        </optional>
        <optional>
          <ref name="list_direction8"/>
        </optional>
      </element>
      <!-- 偏心していない例が与えられていないが、意味的に用意すべき -->
      <element name="je:Radius">
        <attribute name="type">
          <value>半径</value>
        </attribute>
        <attribute name="unit">
          <value>海里</value>
        </attribute>
        <attribute name="description"/>
        <optional>
          <attribute name="condition">
            <value>なし</value>
          </attribute>
        </optional>
        <optional>
          <data type="integer"/>
        </optional>
      </element>
      <optional>
        <!-- kilometer Radius missing in kaijou keihou -->
        <element name="je:Radius">
          <attribute name="type">
            <value>半径</value>
          </attribute>
          <attribute name="unit">
            <value>km</value>
          </attribute>
          <attribute name="description"/>
          <optional>
            <attribute name="condition">
              <value>なし</value>
            </attribute>
          </optional>
          <optional>
            <data type="integer"/>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  <!-- 偏心円の場合の Axes の中身のひとつ -->
  <define name="ordinary_axis">
    <element name="je:Axis">
      <element name="je:Direction">
        <attribute name="type">
          <value>方向</value>
        </attribute>
        <attribute name="unit">
          <value>８方位漢字</value>
        </attribute>
        <ref name="list_direction8"/>
      </element>
      <element name="je:Radius">
        <attribute name="type">
          <value>半径</value>
        </attribute>
        <attribute name="unit">
          <value>海里</value>
        </attribute>
        <attribute name="description"/>
        <data type="positiveInteger"/>
      </element>
      <optional>
        <!-- kilometer Radius missing in kaijou keihou -->
        <element name="je:Radius">
          <attribute name="type">
            <value>半径</value>
          </attribute>
          <attribute name="unit">
            <value>km</value>
          </attribute>
          <attribute name="description"/>
          <data type="positiveInteger"/>
        </element>
      </optional>
    </element>
  </define>
  <!-- Area/Circle[@type=予報円] と Kind[Property/Type='予報円'] で使う -->
  <define name="radii_yohouen">
    <element name="je:Axes">
      <!-- 予報円の場合は Axis は常に全方位で1つしかない -->
      <element name="je:Axis">
        <element name="je:Direction">
          <attribute name="type">
            <value>方向</value>
          </attribute>
          <attribute name="unit">
            <value>８方位漢字</value>
          </attribute>
          <attribute name="description">
            <value>全域</value>
          </attribute>
          <attribute name="condition">
            <value>全域</value>
          </attribute>
        </element>
        <element name="je:Radius">
          <attribute name="type">
            <value>７０パーセント確率半径</value>
          </attribute>
          <attribute name="unit">
            <value>海里</value>
          </attribute>
          <attribute name="description"/>
          <data type="positiveInteger"/>
        </element>
        <element name="je:Radius">
          <attribute name="type">
            <value>７０パーセント確率半径</value>
          </attribute>
          <attribute name="unit">
            <value>km</value>
          </attribute>
          <attribute name="description"/>
          <data type="positiveInteger"/>
        </element>
      </element>
    </element>
  </define>
  <define name="list_typhoon_class">
    <a:documentation>=== simple data types ===</a:documentation>
    <choice>
      <value>台風(TY)</value>
      <value>台風(STS)</value>
      <value>台風(TS)</value>
      <value>熱帯低気圧(TD)</value>
      <value>ハリケーン(Hurricane)</value>
      <value>発達した熱帯低気圧(Tropical Storm)</value>
      <value>温帯低気圧(LOW)</value>
    </choice>
  </define>
  <define name="list_typhoon_size_class">
    <choice>
      <value>大型</value>
      <value>超大型</value>
    </choice>
  </define>
  <define name="list_typhoon_intensity_class">
    <choice>
      <value>強い</value>
      <value>非常に強い</value>
      <value>猛烈な</value>
    </choice>
  </define>
  <define name="list_direction8">
    <choice>
      <value>北</value>
      <value>北東</value>
      <value>東</value>
      <value>南東</value>
      <value>南</value>
      <value>南西</value>
      <value>西</value>
      <value>北西</value>
    </choice>
  </define>
  <define name="list_direction16">
    <choice>
      <ref name="list_direction8"/>
      <value>北北東</value>
      <value>東北東</value>
      <value>東南東</value>
      <value>南南東</value>
      <value>南南西</value>
      <value>西南西</value>
      <value>西北西</value>
      <value>北北西</value>
    </choice>
  </define>
  <define name="pat_katakana">
    <data type="string">
      <param name="pattern">[ァ-ー]*</param>
    </data>
  </define>
  <define name="dateTime_sz">
    <data type="dateTime">
      <param name="pattern">\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\dZ</param>
    </data>
  </define>
  <define name="dateTime_si">
    <data type="dateTime">
      <param name="pattern">\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\+09:00</param>
    </data>
  </define>
  <define name="latlon_decimal3_ascii">
    <data type="string">
      <param name="pattern">\+\d\d\.\d\d\d[\-+]\d\d\d\.\d\d\d/</param>
    </data>
  </define>
  <define name="latlon_decimal_ascii">
    <data type="string">
      <param name="pattern">\+\d\d?\.\d[\-+]\d\d\d\.\d/</param>
    </data>
  </define>
  <define name="latlon_deg_ascii">
    <data type="string">
      <param name="pattern">\+\d\d?[\-+]\d\d\d/</param>
    </data>
  </define>
  <define name="latlon_multi_ascii">
    <data type="string">
      <param name="pattern">/?(\+\d\d[\-+]\d\d\d/)+</param>
    </data>
  </define>
  <define name="latlon_decimal_ja">
    <data type="string">
      <param name="pattern">北緯[０-９]+．[０-９]度[東西]経[０-９]+．[０-９]度</param>
    </data>
  </define>
  <define name="latlon_deg_ja">
    <data type="string">
      <param name="pattern">北緯[０-９]+度[東西]経[０-９]+度</param>
    </data>
  </define>
  <define name="latlon_multi_ja">
    <data type="string">
      <param name="pattern">(北緯[０-９]+度[東西]経[０-９]+度(、)?)+</param>
    </data>
  </define>
  <define name="latlon_sexagesimal_ascii">
    <data type="string">
      <param name="pattern">\+\d\d\d\d[\-+]\d\d\d\d\d/</param>
    </data>
  </define>
  <define name="latlon_sexagesimal_ja">
    <data type="string">
      <param name="pattern">北緯[０-９]{2}度[０-９]{2}分[東西]経[０-９]{3}度[０-９]{2}分</param>
    </data>
  </define>
  <define name="list_edof">
    <data type="string">
      <param name="pattern">気象庁予報部|気象庁本庁|.*気象台|大阪管区気象台（舞鶴）</param>
    </data>
  </define>
  <define name="list_pbof">
    <data type="string">
      <param name="pattern">気象庁予報部|気象庁地球環境・海洋部|気象庁本庁|.*気象台</param>
    </data>
  </define>
  <define name="list_typh_datetime">
    <choice>
      <value>実況</value>
      <value>推定　１時間後</value>
      <value>予報　３時間後</value>
      <value>予報　６時間後</value>
      <value>予報　９時間後</value>
      <value>予報　１２時間後</value>
      <value>予報　１５時間後</value>
      <value>予報　１８時間後</value>
      <value>予報　２１時間後</value>
      <value>予報　２４時間後</value>
      <value>予報　４５時間後</value>
      <value>予報　４８時間後</value>
      <value>予報　６９時間後</value>
      <value>予報　７２時間後</value>
      <value>予報　９６時間後</value>
      <value>予報　９３時間後</value>
      <value>予報　１１７時間後</value>
      <value>予報　１２０時間後</value>
      <value>延長予報　９６時間後</value>
      <value>延長予報　１２０時間後</value>
    </choice>
  </define>
  <define name="list_kaijou_keihoumei">
    <choice>
      <value>海上台風警報</value>
      <value>海上暴風警報</value>
      <value>海上強風警報</value>
      <value>海上風警報</value>
      <value>海上濃霧警報</value>
      <value>海上着氷警報</value>
      <value>海上警報解除</value>
    </choice>
  </define>
  <define name="list_kaijou_keihoucode">
    <choice>
      <value>23</value>
      <value>22</value>
      <value>21</value>
      <value>20</value>
      <value>11</value>
      <value>10</value>
      <value>00</value>
    </choice>
  </define>
  <define name="list_kaijou_classname">
    <choice>
      <value>じょう乱</value>
      <value>緯度経度領域</value>
      <value>領域</value>
      <value>低気圧</value>
      <value>熱帯低気圧</value>
      <value>熱帯じょう乱</value>
    </choice>
  </define>
  <define name="list_kaijou_proptype">
    <choice>
      <value>風</value>
      <value>低気圧</value>
      <value>温暖前線</value>
      <value>寒冷前線</value>
      <value>別の低気圧</value>
      <value>濃霧</value>
      <value>閉塞前線</value>
      <value>停滞前線</value>
      <value>熱帯低気圧</value>
      <value>呼称</value>
    </choice>
  </define>
  <define name="list_kaijou_proptype2">
    <choice>
      <value>低気圧</value>
      <value>高気圧</value>
      <value>温暖前線</value>
      <value>寒冷前線</value>
      <value>停滞前線</value>
      <value>熱帯低気圧</value>
      <value>低圧部</value>
    </choice>
  </define>
  <define name="list_kaijou_condition">
    <choice>
      <value>発達した</value>
      <value>発達中</value>
      <value>温帯低気圧に変わる見込み</value>
      <value>熱帯低気圧に変わる見込み</value>
      <value>発生予想</value>
    </choice>
  </define>
  <define name="list_kaijou_timemodifier">
    <choice>
      <value>今後１２時間以内に</value>
      <value>今後２４時間以内に</value>
      <value>今後１８時間以内は</value>
      <value>今後２４時間以内は</value>
    </choice>
  </define>
  <define name="list_infokind">
    <choice>
      <value>台風解析・予報情報（５日予報）</value>
      <value>台風解析・予報情報（３日予報）</value>
      <value>特殊気象報</value>
      <value>生物季節観測報告気象報</value>
      <value>環境気象情報</value>
      <value>同一現象用平文情報</value>
      <value>全般海上警報</value>
      <value>地方海上警報</value>
      <value>地方海上予報</value>
      <value>気象警報・注意報</value>
    </choice>
  </define>
  <define name="list_title">
    <choice>
      <value>季節観測</value>
      <value>生物季節観測</value>
      <value>特殊気象報</value>
      <value>紫外線観測データ</value>
      <value>全般台風情報</value>
      <value>全般台風情報（定型）</value>
      <value>全般台風情報（詳細）</value>
      <value>台風解析・予報情報（３日予報）</value>
      <value>台風解析・予報情報（５日予報）</value>
      <value>台風解析・予報情報（５日予報）（Ｈ３０）</value>
      <value>全般海上警報（定時）</value>
      <value>全般海上警報（定時）（Ｈ２９）</value>
      <value>全般海上警報（臨時）</value>
      <value>全般海上警報（臨時）（Ｈ２９）</value>
      <value>地方海上警報</value>
      <value>地方海上警報（Ｈ２８）</value>
      <value>地方海上予報</value>
      <value>地方海上予報（Ｈ２８）</value>
      <value>気象警報・注意報</value>
      <value>気象特別警報・警報・注意報</value>
      <value>気象警報・注意報（Ｈ２７）</value>
      <value>指定河川洪水予報</value>
    </choice>
  </define>
  <define name="anyElement">
    <element>
      <choice>
        <anyName/>
        <nsName/>
      </choice>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
</grammar>
