jmx.rnc

namespace jx = "http://xml.kishou.go.jp/jmaxml1/"
namespace jb = "http://xml.kishou.go.jp/jmaxml1/informationBasis1/"
namespace jm = "http://xml.kishou.go.jp/jmaxml1/body/meteorology1/"
namespace je = "http://xml.kishou.go.jp/jmaxml1/elementBasis1/"

start = element jx:Report {
  element jx:Control {
    element jx:Title { list_title },
    element jx:DateTime { dateTime_sz },
    element jx:Status { "通常" | "訓練" | "試験" },
    element jx:EditorialOffice { list_edof },
    element jx:PublishingOffice { list_pbof }
  },
  element jb:Head {
    element jb:Title { xsd:token },
    # 発表時刻
    element jb:ReportDateTime { dateTime_si },
    # 解析時刻
    element jb:TargetDateTime { dateTime_si },
    element jb:TargetDuration { xsd:duration }?,
    # yuukou kigen
    element jb:ValidDateTime { dateTime_si }?,
    # TC番号
    element jb:EventID { empty | xsd:token },
    element jb:InfoType { "発表" | "訂正" | "取消" },
    # 情報番号というが起算・加算条件は未詳
    element jb:Serial { empty | xsd:token },
    element jb:InfoKind { list_infokind },
    # we can simply ignore this
    element jb:InfoKindVersion { "1.0_0" | "1.0_1" },
    element jb:Headline {
      element jb:Text { xsd:string },
      (empty
      |info_vpzu50_kaijou
      |info_vpzu50_kaijou_clear
      |info_vpcu50_kaijou)
    }
  },
  (body_vgsk50_kisetsu
  |body_vgsk55_seibutsu
  |body_vgsk60_tokushu
  |body_vguv50_shigaisen
  |body_vpti50_joho
  |body_vptw40_typhoon
  |body_vpzu50_kaijou
  |body_vpcu50_kaijou
  |body_vpcy50_umiyoho)
}

info_vpzu50_kaijou =
  element jb:Information {
    attribute type { "全般海上警報" }
   ,element jb:Item {
      element jb:Kind {
        element jb:Name { list_kaijou_keihoumei }
       ,element jb:Code { list_kaijou_keihoucode }
      }
     ,element jb:Areas {
        attribute codeType { "全般海上海域名" }
       ,( kaijou_area_circles
        | kaijou_area_point
        | kaijou_area_polygon
        | kaijou_area_codes
        )
      }
    }+
  }

info_vpcu50_kaijou =
  element jb:Information {
    attribute type { "地方海上警報" }
   ,element jb:Item {
      element jb:Kind {
        element jb:Name { list_kaijou_keihoumei }
       ,element jb:Code { list_kaijou_keihoucode }
      }
     ,element jb:Areas {
        attribute codeType { "地方海上予報区" }
       ,kaijou_area_codes
      }
    }+
  }

kaijou_area_circles =
  element jb:Area {
    element jb:Name { "低気圧" | "熱帯低気圧" }
   ,element je:Circle {
      attribute type { "影響範囲" }
      # either analysis or 24 hour forecast present
     ,element je:BasePoint { attribute type { "実況位置（度）" }, kaijou_point }?
     ,element je:BasePoint { attribute type { "１２時間後位置（度）" }, kaijou_point }?
     ,element je:BasePoint { attribute type { "２４時間後位置（度）" }, kaijou_point? }?
     ,radii_of_wind?
    }+
  }

kaijou_point =
  (
    (attribute description { latlon_deg_ja },  latlon_deg_ascii)
  |
    (attribute description { latlon_decimal_ja }, latlon_decimal_ascii)
  )

kaijou_area_point =
  element jb:Area {
    element jb:Name { "熱帯低気圧" }
   ,element je:Coordinate {
      attribute type { "中心位置（度）" | "実況位置（度）" }
     ,attribute description { latlon_decimal_ja }
     ,latlon_decimal_ascii
    }
  }

kaijou_area_codes =
  element jb:Area {
    element jb:Name { xsd:token }
   ,element jb:Code { xsd:positiveInteger }
  }+

kaijou_area_polygon =
  element jb:Area {
    element jb:Name { "緯度経度領域" }
   ,element je:Polygon {
      attribute type { "位置（度）" }
     ,attribute description { latlon_multi_ja }
     ,latlon_multi_ascii
    }
  }

info_vpzu50_kaijou_clear =
  element jb:Information {
    attribute type { "全般海上警報" }
   ,element jb:Item {
      element jb:Kind {
        element jb:Name { "海上警報なし" }
        # this time jb:Code missing
      }
     ,element jb:Areas {
        attribute codeType { "全般海上海域名" }
       ,element jb:Area { element jb:Name { "全般海上予報区" } }
      }
    }
  }

# === Body rules ===

body_vpcy50_umiyoho =
  element jm:Body {
    element jm:Warning {
      attribute type { "地方海上警報発表状況" }
     ,element jm:Item {
        element jm:Kind {
        ((element jm:Name { xsd:token }
         ,element jm:Code { xsd:nonNegativeInteger })
         |element jm:Status { "海上警報なし" })
        }+
       ,element jm:Area {
          element jm:Name { xsd:token }
         ,element jm:Code { xsd:nonNegativeInteger }
        }
      }+
    }
   ,kaijou_kishouyouin
   ,umiyoho_jikkyou
   ,umiyoho_kaiiki
  }

umiyoho_jikkyou =
  element jm:MeteorologicalInfos {
    attribute type { "観測実況" }
    ,anyElement+
  }

umiyoho_kaiiki =
  element jm:MeteorologicalInfos {
    attribute type { "地方海域の予報" }
   ,element jm:MeteorologicalInfo {
      element jm:DateTime { dateTime_si }
     ,element jm:Duration { xsd:duration }
     # name of forecast time range duration
     ,element jm:Name { xsd:token }
     ,element jm:Item {
        element jm:Kind {
         (kaijou_propwind
         |umiyoho_tenki
         |umiyoho_propfog
         |kaijou_propuneri
         |umiyoho_propice)?
        }+
       ,element jm:Area {
          element jm:Name { xsd:token }
         ,element jm:Code { xsd:nonNegativeInteger }
        }
      }+
    }+
  }

umiyoho_tenki =
  element jm:Property {
    element jm:Type { "天気" }
   ,element jm:WeatherPart { anyElement+ }
  }

umiyoho_propfog =
  element jm:Property {
    element jm:Type { "視程" }
   ,element jm:VisibilityPart { anyElement+ }
  }

umiyoho_propice =
  element jm:Property {
    element jm:Type { "流氷" }
   ,element jm:SeaIcePart { anyElement+ }
  }

body_vpcu50_kaijou =
  element jm:Body {
    element jm:Warning {
      attribute type { "地方海上警報" }
     ,element jm:Item {
        element jm:Kind {
          element jm:Name { xsd:token }?
         ,element jm:Code { xsd:nonNegativeInteger }?
        ,(kaijou_propwind
         |kaijou_propfog
         |kaijou_propuneri
         |kaijou_propicing)?
        }+
       ,element jm:Area {
          element jm:Name { xsd:token }
         ,element jm:Code { xsd:nonNegativeInteger }
        }
      }+
    }
   ,kaijou_kishouyouin
  }

kaijou_propwind =
  element jm:Property {
    element jm:Type { "風" }
   ,element jm:WindPart { anyElement+ }
  }

kaijou_propfog =
  element jm:Property {
    element jm:Type { "濃霧" }
   ,element jm:VisibilityPart { anyElement+ }
  }

kaijou_propuneri =
  element jm:Property {
    element jm:Type { "波" }
   ,element jm:WaveHeightPart { anyElement+ }
  }

kaijou_propicing =
  element jm:Property {
    element jm:Type { "着氷" }
   ,element jm:IcingPart { anyElement+ }
  }


kaijou_kishouyouin =
  element jm:MeteorologicalInfos {
    attribute type { "気象要因" }
   ,element jm:MeteorologicalInfo {
      element jm:DateTime { dateTime_si }
     ,element jm:Name { xsd:token }
     ,element jm:Item {
        element jm:Kind {
          element jm:Property {
            element jm:Type { "概況" }
           ,element jm:SynopsisPart {
              element je:Synopsis {
                attribute type { "気象要因" }
               ,text
              }+
            }
          }
        }
       ,element jm:Area {
          element jm:Name { xsd:token }
         ,element jm:Code { xsd:positiveInteger }
        }
      }
    }
  }


body_vpzu50_kaijou =
  element jm:Body {
    element jm:Notice { "" | "警報は６時間毎に更新します。" }
   ,element jm:MeteorologicalInfos {
      attribute type { "全般海上警報" }
     ,element jm:MeteorologicalInfo {
        element jm:DateTime { dateTime_si }
       ,element jm:Item {
          element jm:Kind {
            element jm:Name { xsd:token }?
           ,element jm:Code { xsd:positiveInteger }?
           ,element jm:Status { text }?
           ,element jm:ClassName { list_kaijou_classname }?
           ,element jm:Condition { list_kaijou_condition }?
           ,element jm:DateTime { attribute type { list_typh_datetime }, dateTime_si }?
           ,element jm:Property {
              element jm:Type { list_kaijou_proptype }
             ,element jm:WindPart {
               (element jm:Becoming {
                  element jm:TimeModifier {
                    list_kaijou_timemodifier
                  },
                  kaijou_windpart
                }
               |kaijou_windpart)
             }?
             ,element jm:WarningAreaPart {
                kaijou_windcircle
              }*
             ,element jm:ClassPart { anyElement+ }?
             ,element jm:TyphoonNamePart { anyElement+ }?
             ,element jm:CenterPart { anyElement+ }?
             ,element jm:CoordinatePart { anyElement+ }?
             ,element jm:Text { text }?
            }*
          }+
         ,element jm:Area {
            anyElement+
          }
        }
      }+
    }*
   ,element jm:MeteorologicalInfos {
      attribute type { "概況" }
     ,element jm:MeteorologicalInfo {
        element jm:DateTime { dateTime_si }
       ,element jm:Item {
          element jm:Kind {
            element jm:ClassName { "気圧系" | "前線" }
           ,element jm:Property {
              element jm:Type { list_kaijou_proptype2 }
             ,element jm:ClassPart { anyElement+ }?
             ,element jm:CenterPart { anyElement+ }?
             ,element jm:Text { text }?
            }*
          }+
         ,element jm:Area {
            anyElement+
          }
        }
      }
    }*
  }

kaijou_windpart =
  element je:WindDirection {
    attribute type { "風向" }
   ,attribute unit { "８方位漢字" }
   ,list_direction8
  }*
 ,element je:WindSpeed {
    attribute type { "最大風速" | "風速" }
   ,attribute unit { "ノット" }
   ,attribute condition { "" | "中心付近" | "以上"
    }?
   ,attribute description { text }
   ,xsd:nonNegativeInteger
  }+

kaijou_windcircle =
    attribute type { "強風域" | "暴風域" }
   ,element je:WindSpeed {
      attribute type { "風速" }
     ,attribute unit { "ノット" }
     ,attribute condition { "以上" }
     ,attribute description {
       "５０ノット以上" | "３０ノット以上"
     }
     ,("30" | "50")
    }
   ,element je:Circle {
      radii_of_wind
    }

body_vgsk50_kisetsu =
  element jm:Body {
    element jm:MeteorologicalInfos {
      attribute type { "季節観測" }
      ,element jm:MeteorologicalInfo {
        element jm:DateTime {
          attribute significant { "yyyy-mm-dd" }
          ,dateTime_si
        }
        ,element jm:Item {
          element jm:Kind {
            element jm:Name { xsd:token }
          }
          ,element jm:Station {
            element jm:Name { xsd:token }
            ,element jm:Code {
              attribute type { "国際地点番号" }
              ,xsd:positiveInteger
            }?
            ,element jm:Location { xsd:NMTOKEN }
          }
        }
      }
    }
    ,element jm:AdditionalInfo {
      element jm:ObservationAddition {
        element jm:DeviationFromNormal { xsd:integer }
        ,element jm:DeviationFromLastYear { xsd:integer }
      }
    }
  }

body_vgsk55_seibutsu =
  element jm:Body {
    element jm:MeteorologicalInfos {
      attribute type { "生物季節観測" }
      ,element jm:MeteorologicalInfo {
        element jm:DateTime {
          attribute significant { "yyyy-mm-dd" }
          ,dateTime_si
        }
        ,element jm:Item {
          element jm:Kind {
            element jm:Name { xsd:token }
            ,element jm:Code { xsd:positiveInteger }
            ,element jm:ClassName { xsd:token }
            ,element jm:Condition { "通常" }
          }
          ,element jm:Station {
            element jm:Name { xsd:token }
            ,element jm:Code {
              attribute type { "国際地点番号" }
              ,xsd:positiveInteger
            }?
            ,element jm:Location { xsd:NMTOKEN }
            ,element jm:Status { xsd:NMTOKEN }
          }
        }
      }
    }
    ,element jm:AdditionalInfo {
      element jm:ObservationAddition {
        element jm:DeviationFromNormal { xsd:integer }?
        ,element jm:DeviationFromLastYear { xsd:integer }
        ,element jm:Text { xsd:token }?
      }
    }
  }

body_vgsk60_tokushu =
  element jm:Body {
    element jm:MeteorologicalInfos {
      attribute type { "特殊気象報（各種現象）" }
      ,element jm:MeteorologicalInfo {
        element jm:DateTime {
          attribute significant { "yyyy-mm-ddThh:mm" }
          ,dateTime_si
        }
        ,element jm:Item {
          element jm:Kind {
            element jm:Name { xsd:token }
          }
          ,element jm:Station {
            element jm:Name { xsd:token }
            ,element jm:Code {
              attribute type { "国際地点番号" }
              ,xsd:positiveInteger
            }?
            ,element jm:Location { xsd:NMTOKEN }
          }
        }
      }
    }
    ,element jm:AdditionalInfo {
      element jm:ObservationAddition {
        element jm:Text { xsd:token }
      }
    }
  }

body_vguv50_shigaisen =
  element jm:Body {
    element jm:MeteorologicalInfos {
      attribute type { "紫外線観測データ" }
      ,element jm:TimeSeriesInfo {
        element jm:TimeDefines {
          element jm:TimeDefine {
            attribute timeId { xsd:positiveInteger }
            ,element jm:DateTime { dateTime_si }
          }+
        }
        ,element jm:Item {
          element jm:Kind {
            element jm:Property {
              element jm:Type { "太陽天頂角" }
              ,element jm:SolarZenithAnglePart {
                element je:SolarZenithAngle {
                  attribute unit { "度" }
                  ,attribute refID { xsd:positiveInteger }
                  ,xsd:float
                }+
              }
            }
          }
          ,element jm:Kind {
            element jm:Property {
              element jm:Type { "ＵＶインデックス" }
              ,element jm:UvIndexPart {
                element je:UvIndex {
                  attribute refID { xsd:positiveInteger }
                  ,(empty | xsd:float)
                }+
              }
            }
          }
          ,element jm:Station {
            element jm:Name { xsd:token }
            ,element jm:Code {
              attribute type { "気象・地震・火山情報／市町村等" }
              ,xsd:positiveInteger
            }
            ,element jm:Code {
              attribute type { "国際地点番号" }
              ,xsd:positiveInteger
            }
            ,element jm:Code {
              attribute type { "WOUDC地点番号" }
              ,xsd:positiveInteger
            }
            ,element jm:Location { xsd:token }
            ,element je:Coordinate { latlon_decimal3_ascii }
          }
        }+ # jm:Item
      } # jm:TimeSeriesInfo
    } # jm:MeteorologicalInfos
  }

body_vpti50_joho =
  element jm:Body {
    element jm:Notice { empty }
    ,element jm:Comment {
      element jm:Text {
        attribute type { "本文" }
        ,xsd:string
      }
    }
  }

body_vptw40_typhoon =
  element jm:Body {
    element jm:MeteorologicalInfos {
      attribute type { "台風情報" }
      ,element jm:MeteorologicalInfo {
        element jm:DateTime {
          attribute type { list_typh_datetime },
          dateTime_si
        },
        element jm:Item {

          # name of tropical depression, present only at the first MeteorologicalInfo
          element jm:Kind {
            element jm:Property {
              element jm:Type { "呼称" },
              element jm:TyphoonNamePart {
                element jm:Name { xsd:string { pattern = "[\-A-Z]*" } },
                element jm:NameKana { pat_katakana },
                element jm:Number { xsd:nonNegativeInteger? },
                element jm:Remark {
                  empty
                  | "台風発生"
                  | "台風発生（域外から入る）"
                  | "台風消滅（域外へ出る）"
                  | "台風消滅（温帯低気圧化）"
                  | "台風消滅（熱帯低気圧化）"
                  | "台風発生の可能性が小さくなった"
                  | "発表間隔変更（毎時から３時間毎）"
                  | "発表間隔変更（３時間毎から毎時）"
                  | "台風発生予想"
                  | "温帯低気圧化しつつある"
                }
              }
            }
          }?,

          # class of tropical depression
          element jm:Kind {
            element jm:Property {
              element jm:Type { "階級" },
              ## (8) 後述
              element jm:ClassPart {
                ## (7) 空になるのは延長予報だけ
                element je:TyphoonClass {
                  attribute type { "熱帯擾乱種類" },
                  (empty | list_typhoon_class)
                },
                ## (8-1) 実況・推定では常に AreaClass がある
                element je:AreaClass {
                  attribute type { "大きさ階級" },
                  # 実況・推定で大きさ階級を決定しないときは空になる
                  (empty | list_typhoon_size_class)
                }?,
                ## (8-2) 実況・推定・予報では常に IntensityClass がある
                element je:IntensityClass {
                  attribute type { "強さ階級" },
                  (empty | list_typhoon_intensity_class)
                }?
              }
            }
          },

          # center location of tropical depression
          element jm:Kind {
            element jm:Property {
              element jm:Type { "中心" },
              ## (9) 予報・延長予報には常に予報円 ProbabilityCircle がある
              ## (10) 実況・推定には常に Coordinate 2つがある
              element jm:CenterPart {
                (element jm:ProbabilityCircle {
                  attribute type { "予報円" },
                  basepoint_pair,
                  radii_yohouen
                }
                | coordinate_pair),
                ## (11) 予報のうち、予報時間が２４未満で１２でないものでは欠く
                element jm:Location { text }?,
                element je:Direction {
                  attribute type { "移動方向" },
                  attribute unit { "１６方位漢字" },
                  attribute condition { "不定" }?,
                  attribute description { "不定" }?,
                  # 空の実例はないが、予想される
                  (empty | list_direction16)
                },
                element je:Speed {
                  attribute type { "移動速度" },
                  attribute unit { "ノット" },
                  attribute description { text },
                  attribute condition { "ゆっくり" | "ほとんど停滞" | "停滞" }?,
                  (empty | xsd:positiveInteger)
                },
                ## (25) km/h単位の移動速度は ノット 単位の移動速度の関数
                element je:Speed {
                  attribute type { "移動速度" },
                  # there is a VPTW50 example having unit="ノット" here,
                  # which is probably error but tolerated just in case. boo!
                  attribute unit { "km/h" | "ノット" },
                  attribute description { text },
                  attribute condition { "ゆっくり" | "ほとんど停滞" | "停滞" }?,
                  (empty | xsd:positiveInteger)
                },
                ## (12) 実況・推定・予報では常に Pressure がある
                element je:Pressure {
                  attribute type { "中心気圧" },
                  attribute unit { "hPa" },
                  attribute description { text },
                  xsd:positiveInteger
                }?
              }
            }
          },

          # wind associated with tropical depression, can be missing ft72h and later
          element jm:Kind {
            element jm:Property {
              element jm:Type { "風" },
              element jm:WindPart {
                # 最大風速と最大瞬間風速が、それぞれノット・米毎秒で書かれる
                ## (24) ノット単位の風速は m/s 単位の風速の関数
                element je:WindSpeed {
                  attribute type { "最大風速" },
                  attribute unit { "ノット" },
                  # 中心の移動速度と異なり condition は
                  # 最大速度が得られた位置を特定するものであるらしい。
                  # 値「なし」は中心付近でない場所を示すらしく、
                  # 数値欠損の印ではない。
                  attribute condition { "中心付近" | "なし" }?,
                  attribute description { text },
                  xsd:nonNegativeInteger
                },
                element je:WindSpeed {
                  attribute type { "最大風速" },
                  attribute unit { "m/s" },
                  attribute condition { "中心付近" | "なし" }?,
                  attribute description { text },
                  xsd:nonNegativeInteger
                },
                element je:WindSpeed {
                  attribute type { "最大瞬間風速" },
                  attribute unit { "ノット" },
                  attribute description { text },
                  xsd:nonNegativeInteger
                },
                element je:WindSpeed {
                  attribute type { "最大瞬間風速" },
                  attribute unit { "m/s" },
                  attribute description { text },
                  xsd:nonNegativeInteger
                }
              },
              ## (19) @type は Property 内で一意
              ## (14) 実況・推定には常に強風域がある
              ## (15) 暴風域はあるとすれば実況または推定
              ## (20) 実況・推定において
              ##      最大風速が 25 m/s に達していれば常に暴風域がある
              ## (16) 暴風警戒域はあるとすれば予報
              ## (21) 予報において
              ##      最大風速が 25 m/s に達していれば常に暴風警戒域がある
              element jm:WarningAreaPart {
                attribute type { "暴風域" | "強風域" | "暴風警戒域" },
                element je:WindSpeed {
                  attribute type { "風速" },
                  attribute unit { "ノット" },
                  attribute condition { "以上" },
                  attribute description { text },
                  xsd:positiveInteger
                },
                element je:WindSpeed {
                  attribute type { "風速" },
                  attribute unit { "m/s" },
                  attribute condition { "以上" },
                  attribute description { text },
                  xsd:positiveInteger
                },
                element je:Circle {
                  radii_of_wind
                }
              }*
            }
          }?,

          ## Item について、
          ## (17) 実況・推定には常に強風域 Area が存在
          ## (18) 予報・延長予報には常に予報円 Area が存在
          ## 都合、 Area は必ず一つ存在する
          element jm:Area {
            element jm:Name { "熱帯低気圧" },
            (
              ## (22) 強風域 Area/Circle は WarningAreaPart/Circle と同一内容
              element je:Circle {
                attribute type { "強風域" },
                basepoint_pair,
                radii_of_wind
              }
            |
              ## (23) 予報円 Area/Circle は ProbabilityCircle と同一内容
              element je:Circle {
                attribute type { "予報円" },
                basepoint_pair,
                radii_yohouen
              }
            )
          } # jm:Area

        } # jm:Item
      }+
    } # jm:MeteorologicalInfos
  } # jm:Body


### === complex data types ===

# basepoint_pair と酷似構造であることを見やすくするため別ルール建て
coordinate_pair =
  element je:Coordinate {
    attribute type { "中心位置（度）" },
    # 消滅または発生可能性減のとき省略
    attribute condition { "正確" | "ほぼ正確" | "不確実" }?,
    attribute description { latlon_decimal_ja },
    latlon_decimal_ascii
  },
  element je:Coordinate {
    attribute type { "中心位置（度分）" },
    # 消滅または発生可能性減のとき省略
    attribute condition { "正確" | "ほぼ正確" | "不確実" }?,
    attribute description { latlon_sexagesimal_ja },
    latlon_sexagesimal_ascii
  }

# Area/Circle と CenterPart/ProbabilityCircle で使われる
basepoint_pair =
  element je:BasePoint {
    attribute type { "中心位置（度）" },
    attribute description { latlon_decimal_ja },
    latlon_decimal_ascii
  },
  element je:BasePoint {
    attribute type { "中心位置（度分）" },
    attribute description { latlon_sexagesimal_ja },
    latlon_sexagesimal_ascii
  }

# Area/Circle[@type=強風域] と
# Kind/Property[Type='予報円']/WarningAreaPart/Circle で使う
radii_of_wind =
  element je:Axes {
    # 強風域は、均等円か、偏心円で長径・短径を示す2つのAxisか
    all_round_axis | (ordinary_axis, ordinary_axis)
  }

# 均等円の場合の Axes の中身 (読みやすさのため別ルール)
all_round_axis =
  element je:Axis {
    element je:Direction {
      attribute type { "方向" },
      attribute unit { "８方位漢字" },
      attribute description { "全域" },
      attribute condition { "全域" }?,
      list_direction8?
    },
    # 偏心していない例が与えられていないが、意味的に用意すべき
    element je:Radius {
      attribute type { "半径" },
      attribute unit { "海里" },
      attribute description { text },
      attribute condition { "なし" }?,
      xsd:integer?
    },
    # kilometer Radius missing in kaijou keihou
    element je:Radius {
      attribute type { "半径" },
      attribute unit { "km" },
      attribute description { text },
      attribute condition { "なし" }?,
      xsd:integer?
    }?
  }

# 偏心円の場合の Axes の中身のひとつ
ordinary_axis =
  element je:Axis {
    element je:Direction {
      attribute type { "方向" },
      attribute unit { "８方位漢字" },
      list_direction8
    },
    element je:Radius {
      attribute type { "半径" },
      attribute unit { "海里" },
      attribute description { text },
      xsd:positiveInteger
    },
    # kilometer Radius missing in kaijou keihou
    element je:Radius {
      attribute type { "半径" },
      attribute unit { "km" },
      attribute description { text },
      xsd:positiveInteger
    }?
  }

# Area/Circle[@type=予報円] と Kind[Property/Type='予報円'] で使う
radii_yohouen =
  element je:Axes {
    # 予報円の場合は Axis は常に全方位で1つしかない
    element je:Axis {
      element je:Direction {
        attribute type { "方向" },
        attribute unit { "８方位漢字" },
        attribute description { "全域" },
        attribute condition { "全域" }
      },
      element je:Radius {
        attribute type { "７０パーセント確率半径" },
        attribute unit { "海里" },
        attribute description { text },
        xsd:positiveInteger
      },
      element je:Radius {
        attribute type { "７０パーセント確率半径" },
        attribute unit { "km" },
        attribute description { text },
        xsd:positiveInteger
      }
    }
  }

### === simple data types ===

list_typhoon_class =
  "台風(TY)"
  | "台風(STS)"
  | "台風(TS)"
  | "熱帯低気圧(TD)"
  | "ハリケーン(Hurricane)"
  | "発達した熱帯低気圧(Tropical Storm)"
  | "温帯低気圧(LOW)"

list_typhoon_size_class =
  "大型"
  | "超大型"

list_typhoon_intensity_class =
  "強い"
  | "非常に強い"
  | "猛烈な"

list_direction8 =
  "北"
  | "北東"
  | "東"
  | "南東"
  | "南"
  | "南西"
  | "西"
  | "北西"

list_direction16 =
  list_direction8
  | "北北東"
  | "東北東"
  | "東南東"
  | "南南東"
  | "南南西"
  | "西南西"
  | "西北西"
  | "北北西"

pat_katakana =
  xsd:string { pattern = "[ァ-ー]*" }

dateTime_sz =
  xsd:dateTime {
    pattern = "\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\dZ"
  }

dateTime_si =
  xsd:dateTime {
    pattern = "\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\+09:00"
  }

latlon_decimal3_ascii =
  xsd:string {
    pattern = "\+\d\d\.\d\d\d[\-+]\d\d\d\.\d\d\d/"
  }

latlon_decimal_ascii =
  xsd:string {
    pattern = "\+\d\d?\.\d[\-+]\d\d\d\.\d/"
  }

latlon_deg_ascii =
  xsd:string {
    pattern = "\+\d\d?[\-+]\d\d\d/"
  }

latlon_multi_ascii =
  xsd:string {
    pattern = "/?(\+\d\d[\-+]\d\d\d/)+"
  }

latlon_decimal_ja =
  xsd:string {
    pattern = "北緯[０-９]+．[０-９]度[東西]経[０-９]+．[０-９]度"
  }

latlon_deg_ja =
  xsd:string {
    pattern = "北緯[０-９]+度[東西]経[０-９]+度"
  }

latlon_multi_ja =
  xsd:string {
    pattern = "(北緯[０-９]+度[東西]経[０-９]+度(、)?)+"
  }

latlon_sexagesimal_ascii =
  xsd:string {
    pattern = "\+\d\d\d\d[\-+]\d\d\d\d\d/"
  }

latlon_sexagesimal_ja =
  xsd:string {
    pattern = "北緯[０-９]{2}度[０-９]{2}分[東西]経[０-９]{3}度[０-９]{2}分"
  }

list_edof =
  xsd:string {
    pattern = "気象庁本庁|.*気象台|大阪管区気象台（舞鶴）"
  }

list_pbof =
  xsd:string {
    pattern = "気象庁予報部|気象庁地球環境・海洋部|気象庁本庁|.*気象台"
  }

list_typh_datetime =
  "実況"
  | "推定　１時間後"
  | "予報　３時間後"
  | "予報　６時間後"
  | "予報　９時間後"
  | "予報　１２時間後"
  | "予報　１５時間後"
  | "予報　１８時間後"
  | "予報　２１時間後"
  | "予報　２４時間後"
  | "予報　４５時間後"
  | "予報　４８時間後"
  | "予報　６９時間後"
  | "予報　７２時間後"
  | "予報　９６時間後"
  | "予報　９３時間後"
  | "予報　１１７時間後"
  | "予報　１２０時間後"
  | "延長予報　９６時間後"
  | "延長予報　１２０時間後"

list_kaijou_keihoumei =
  "海上台風警報"
  | "海上暴風警報"
  | "海上強風警報"
  | "海上風警報"
  | "海上濃霧警報"
  | "海上着氷警報"
  | "海上警報解除"

list_kaijou_keihoucode =
  "23"
  | "22"
  | "21"
  | "20"
  | "11"
  | "10"
  | "00"

list_kaijou_classname =
  "じょう乱" | "緯度経度領域" | "領域" | "低気圧" | "熱帯低気圧" | "熱帯じょう乱"

list_kaijou_proptype =
  "風" | "低気圧" | "温暖前線" | "寒冷前線" | "別の低気圧" | "濃霧"
  | "閉塞前線"
  | "停滞前線"
  | "熱帯低気圧"
  | "呼称"

list_kaijou_proptype2 =
  "低気圧" | "高気圧" | "温暖前線" | "寒冷前線"
  | "停滞前線"
  | "熱帯低気圧"
  | "低圧部"

list_kaijou_condition =
  "発達した" | "発達中" | "温帯低気圧に変わる見込み" | "熱帯低気圧に変わる見込み"
  | "発生予想"

list_kaijou_timemodifier = "今後１２時間以内に" | "今後２４時間以内に"
 | "今後１８時間以内は"
 | "今後２４時間以内は"

list_infokind =
  "台風解析・予報情報（５日予報）"
  | "台風解析・予報情報（３日予報）"
  | "特殊気象報"
  | "生物季節観測報告気象報"
  | "環境気象情報"
  | "同一現象用平文情報"
  | "全般海上警報"
  | "地方海上警報"
| "地方海上予報"

list_title = "季節観測"
  | "生物季節観測"
  | "特殊気象報"
  | "紫外線観測データ"
  | "全般台風情報"
  | "全般台風情報（定型）"
  | "全般台風情報（詳細）"
  | "台風解析・予報情報（３日予報）"
  | "台風解析・予報情報（５日予報）"
  | "台風解析・予報情報（５日予報）（Ｈ３０）"
  | "全般海上警報（定時）"
  | "全般海上警報（定時）（Ｈ２９）"
  | "全般海上警報（臨時）"
  | "全般海上警報（臨時）（Ｈ２９）"
  | "地方海上警報"
  | "地方海上警報（Ｈ２８）"
  | "地方海上予報"
  | "地方海上予報（Ｈ２８）"

anyElement =
  element * | je:* {
    (attribute * { text }
    | text
    | anyElement) *
  }
